.thumbnail > img {
    width: 100%;
}

.thumbnail > .jail {
    position: absolute;
    top: 0;
    left: 0;
}

#msgbox {
    text-align: center;
}

#msgbox > marquee {
    font-size: 6vw;
}

.well > span {
    font-size: 6vw;
}

#controller {
    margin-left: 30px;
}

.score {
    font-size: 3vw;
}

.large > * {
    font-size: 2vw;
}

.relative {
    position: relative;
}
